.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(68, 88, 145);
}

.img_edit{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    filter: invert(93%) sepia(84%) saturate(32%) hue-rotate(24deg) brightness(116%) contrast(98%);
}

.img_basket{
    width: 27px;
    height: 27px;
    filter: invert(93%) sepia(84%) saturate(32%) hue-rotate(24deg) brightness(116%) contrast(98%);
}

.title{
    font-weight: 400;
    color: white;
}
